<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooad.xproject.mapper.EventArrangeTaskMapper" >
  <resultMap id="BaseResultMap" type="com.ooad.xproject.entity.EventArrangeTask" >
    <id column="ea_task_id" property="eaTaskId" jdbcType="INTEGER" />
    <result column="proj_id" property="projId" jdbcType="INTEGER" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="mode" property="mode" jdbcType="CHAR" />
    <result column="modified_date" property="modifiedDate" jdbcType="TIME" />
  </resultMap>
  <sql id="Base_Column_List" >
    ea_task_id, proj_id, creator_id, title, description, mode, modified_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from event_arrange_tasks
    where ea_task_id = #{eaTaskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from event_arrange_tasks
    where ea_task_id = #{eaTaskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ooad.xproject.entity.EventArrangeTask" >
    <selectKey resultType="java.lang.Integer" keyProperty="eaTaskId" order="AFTER" >
      Postgres
    </selectKey>
    insert into event_arrange_tasks (proj_id, creator_id, title, 
      description, mode, modified_date
      )
    values (#{projId,jdbcType=INTEGER}, #{creatorId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{mode,jdbcType=CHAR}, #{modifiedDate,jdbcType=TIME}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ooad.xproject.entity.EventArrangeTask" >
    <selectKey resultType="java.lang.Integer" keyProperty="eaTaskId" order="AFTER" >
      Postgres
    </selectKey>
    insert into event_arrange_tasks
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        proj_id,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="mode != null" >
        mode,
      </if>
      <if test="modifiedDate != null" >
        modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="projId != null" >
        #{projId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        #{mode,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        #{modifiedDate,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooad.xproject.entity.EventArrangeTask" >
    update event_arrange_tasks
    <set >
      <if test="projId != null" >
        proj_id = #{projId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="mode != null" >
        mode = #{mode,jdbcType=CHAR},
      </if>
      <if test="modifiedDate != null" >
        modified_date = #{modifiedDate,jdbcType=TIME},
      </if>
    </set>
    where ea_task_id = #{eaTaskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooad.xproject.entity.EventArrangeTask" >
    update event_arrange_tasks
    set proj_id = #{projId,jdbcType=INTEGER},
      creator_id = #{creatorId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      mode = #{mode,jdbcType=CHAR},
      modified_date = #{modifiedDate,jdbcType=TIME}
    where ea_task_id = #{eaTaskId,jdbcType=INTEGER}
  </update>
</mapper>