<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooad.xproject.mapper.SchoolsMapper" >
  <resultMap id="BaseResultMap" type="com.ooad.xproject.entity.Schools" >
    <id column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="sch_name" property="schName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sch_id, sch_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from schools
    where sch_id = #{schId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from schools
    where sch_id = #{schId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ooad.xproject.entity.Schools" >
    <selectKey resultType="java.lang.Integer" keyProperty="schId" order="AFTER" >
      Postgres
    </selectKey>
    insert into schools (sch_name)
    values (#{schName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ooad.xproject.entity.Schools" >
    <selectKey resultType="java.lang.Integer" keyProperty="schId" order="AFTER" >
      Postgres
    </selectKey>
    insert into schools
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schName != null" >
        sch_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schName != null" >
        #{schName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooad.xproject.entity.Schools" >
    update schools
    <set >
      <if test="schName != null" >
        sch_name = #{schName,jdbcType=VARCHAR},
      </if>
    </set>
    where sch_id = #{schId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooad.xproject.entity.Schools" >
    update schools
    set sch_name = #{schName,jdbcType=VARCHAR}
    where sch_id = #{schId,jdbcType=INTEGER}
  </update>
</mapper>