<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooad.xproject.mapper.StdGroupMapper" >
  <resultMap id="BaseResultMap" type="com.ooad.xproject.entity.StdGroup" >
    <id column="sgp_id" property="sgpId" jdbcType="INTEGER" />
    <result column="sch_id" property="schId" jdbcType="INTEGER" />
    <result column="group_name" property="groupName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    sgp_id, sch_id, group_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from std_groups
    where sgp_id = #{sgpId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from std_groups
    where sgp_id = #{sgpId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ooad.xproject.entity.StdGroup" >
    <selectKey resultType="java.lang.Integer" keyProperty="sgpId" order="AFTER" >
      Postgres
    </selectKey>
    insert into std_groups (sch_id, group_name)
    values (#{schId,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ooad.xproject.entity.StdGroup" >
    <selectKey resultType="java.lang.Integer" keyProperty="sgpId" order="AFTER" >
      Postgres
    </selectKey>
    insert into std_groups
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="schId != null" >
        sch_id,
      </if>
      <if test="groupName != null" >
        group_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="schId != null" >
        #{schId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        #{groupName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooad.xproject.entity.StdGroup" >
    update std_groups
    <set >
      <if test="schId != null" >
        sch_id = #{schId,jdbcType=INTEGER},
      </if>
      <if test="groupName != null" >
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
    </set>
    where sgp_id = #{sgpId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooad.xproject.entity.StdGroup" >
    update std_groups
    set sch_id = #{schId,jdbcType=INTEGER},
      group_name = #{groupName,jdbcType=VARCHAR}
    where sgp_id = #{sgpId,jdbcType=INTEGER}
  </update>
</mapper>