<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ooad.xproject.mapper.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.ooad.xproject.entity.Teacher">
    <id column="tch_id" jdbcType="INTEGER" property="tchId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="tch_name" jdbcType="VARCHAR" property="tchName" />
    <result column="tch_no" jdbcType="CHAR" property="tchNo" />
    <result column="sch_id" jdbcType="INTEGER" property="schId" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
  <sql id="Base_Column_List">
    tch_id, role_id, tch_name, tch_no, sch_id, email
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from teachers
    where tch_id = #{tchId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teachers
    where tch_id = #{tchId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ooad.xproject.entity.Teacher"
          useGeneratedKeys="true" keyProperty="tchId" keyColumn="tch_id">
    insert into teachers (role_id, tch_name, tch_no, 
      sch_id, email)
    values (#{roleId,jdbcType=INTEGER}, #{tchName,jdbcType=VARCHAR}, #{tchNo,jdbcType=CHAR}, 
      #{schId,jdbcType=INTEGER}, #{email,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ooad.xproject.entity.Teacher"
          useGeneratedKeys="true" keyProperty="tchId" keyColumn="tch_id">
    insert into teachers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        role_id,
      </if>
      <if test="tchName != null">
        tch_name,
      </if>
      <if test="tchNo != null">
        tch_no,
      </if>
      <if test="schId != null">
        sch_id,
      </if>
      <if test="email != null">
        email,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="tchName != null">
        #{tchName,jdbcType=VARCHAR},
      </if>
      <if test="tchNo != null">
        #{tchNo,jdbcType=CHAR},
      </if>
      <if test="schId != null">
        #{schId,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooad.xproject.entity.Teacher">
    update teachers
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="tchName != null">
        tch_name = #{tchName,jdbcType=VARCHAR},
      </if>
      <if test="tchNo != null">
        tch_no = #{tchNo,jdbcType=CHAR},
      </if>
      <if test="schId != null">
        sch_id = #{schId,jdbcType=INTEGER},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where tch_id = #{tchId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooad.xproject.entity.Teacher">
    update teachers
    set role_id = #{roleId,jdbcType=INTEGER},
      tch_name = #{tchName,jdbcType=VARCHAR},
      tch_no = #{tchNo,jdbcType=CHAR},
      sch_id = #{schId,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR}
    where tch_id = #{tchId,jdbcType=INTEGER}
  </update>



  <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  select
  <include refid="Base_Column_List" />
  from teachers
  where role_id = #{rid,jdbcType=INTEGER}
</select>
</mapper>