<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ooad.xproject.mapper.TeamMapper" >
  <resultMap id="BaseResultMap" type="com.ooad.xproject.entity.Team" >
    <id column="team_id" property="teamId" jdbcType="INTEGER" />
    <result column="tgp_id" property="tgpId" jdbcType="INTEGER" />
    <result column="team_code" property="teamCode" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="flags" property="flags" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    team_id, tgp_id, team_code, status, flags
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from teams
    where team_id = #{teamId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from teams
    where team_id = #{teamId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ooad.xproject.entity.Team" >
    <selectKey resultType="java.lang.Integer" keyProperty="teamId" order="AFTER" >
      Postgres
    </selectKey>
    insert into teams (tgp_id, team_code, status, 
      flags)
    values (#{tgpId,jdbcType=INTEGER}, #{teamCode,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, 
      #{flags,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ooad.xproject.entity.Team" >
    <selectKey resultType="java.lang.Integer" keyProperty="teamId" order="AFTER" >
      Postgres
    </selectKey>
    insert into teams
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tgpId != null" >
        tgp_id,
      </if>
      <if test="teamCode != null" >
        team_code,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="flags != null" >
        flags,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tgpId != null" >
        #{tgpId,jdbcType=INTEGER},
      </if>
      <if test="teamCode != null" >
        #{teamCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="flags != null" >
        #{flags,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ooad.xproject.entity.Team" >
    update teams
    <set >
      <if test="tgpId != null" >
        tgp_id = #{tgpId,jdbcType=INTEGER},
      </if>
      <if test="teamCode != null" >
        team_code = #{teamCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="flags != null" >
        flags = #{flags,jdbcType=VARCHAR},
      </if>
    </set>
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ooad.xproject.entity.Team" >
    update teams
    set tgp_id = #{tgpId,jdbcType=INTEGER},
      team_code = #{teamCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      flags = #{flags,jdbcType=VARCHAR}
    where team_id = #{teamId,jdbcType=INTEGER}
  </update>
</mapper>